@if (ViewData.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>Errores:</strong>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}
